.thumbnail {
    display: block;
     height: 170px;
    object-fit: cover;
    object-position: center;
}

.search-bar {
    display: block;
}

.video-title {
    margin-top: 0;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.channel_picture-div {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video_info-div {
    display: inline-block;
    width: 200px;
}

.channel-picture {
    width: 40px;
    border-radius: 50px;
}
